*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:5px;
}
h1{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: orange;
    background-color: #7777;

}
p{
    font-size: 18px;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}